#root {
width: 100%;
}
.game {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 20px;
}
 
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin: 20px;
}
 
.square {
  width: 80px;
  height: 80px;
  background: #fcfafa;
  border: 2px solid #999;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
 
.status {
  margin-bottom: 10px;
  font-size: 20px;
}
 
.reset-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
 